
 

      <ion-list>
        <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
           
            <ion-item lines="full">
            
              <ion-radio-group value="title">
                <ion-list-header>
                  <ion-label>Title</ion-label>
                </ion-list-header>
            
                <ion-row radio-group>
                <ion-col>
                    <ion-label>MR</ion-label>
                    <ion-radio value="mr"></ion-radio>
                </ion-col>
                
  
                <ion-col>
                    <ion-label>MRS</ion-label>
                    <ion-radio value="mrs"></ion-radio>
                </ion-col>
                
            
                <ion-col>
                    <ion-label>MS</ion-label>
                    <ion-radio value="ms"></ion-radio>
                </ion-col>
                
  
                <ion-col>
                    <ion-label>MISS</ion-label>
                    <ion-radio value="miss"></ion-radio>
                </ion-col>
               
  
                <ion-col>
                    <ion-label>MASTER</ion-label>
                    <ion-radio value="master"></ion-radio>
                </ion-col>
                
  
                <ion-col>
                    <ion-label>DR</ion-label>
                    <ion-radio value="dr"></ion-radio>
                </ion-col>
                
  
                <ion-col>
                    <ion-label>PROF</ion-label>
                    <ion-radio value="prof"></ion-radio>
                </ion-col>
                
  
                <ion-col>
                    <ion-label>REV</ion-label>
                    <ion-radio value="rev"></ion-radio>
                </ion-col>
                
  
                <ion-col>
                  <ion-label>DS</ion-label>
                  <ion-radio value="ds"></ion-radio>
              </ion-col>
            </ion-row>
          </ion-radio-group>
         </ion-item>
         
           <!-- Error messages -->
  
           <ion-item lines="full">
            <ion-label position="floating">Initials</ion-label>
            <ion-input formControlName="initials" type="text" required></ion-input>
          </ion-item>
           <!-- Error messages -->
  
          <ion-item lines="full">
            <ion-label position="floating">Fist Name(s)</ion-label>
            <ion-input formControlName="firstName" type="text" required></ion-input>
          </ion-item>
           <!-- Error messages -->
           <span class="error ion-padding" *ngIf="isSubmitted && errorControl['name'].errors?.['required']">
            Name is required.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl['name'].errors?.['minlength']">
            Name should be min 2 chars long.
          </span>
  
           <ion-item lines="full">
            <ion-label position="floating">Surname</ion-label>
            <ion-input formControlName="surname" type="text" required></ion-input>
          </ion-item>
           <!-- Error messages -->
           <span class="error ion-padding" *ngIf="isSubmitted && errorControl['surname'].errors?.['required']">
            Name is required.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl['surname'].errors?.['minlength']">
            Name should be min 2 chars long.
          </span>
  
           <ion-item lines="full">
            <ion-list>
              <ion-radio-group value="idType">
                <ion-list-header>
                  <ion-label>IdTypes</ion-label>
                </ion-list-header>
            
                <ion-row radio-group>
                  <ion-col>
                      <ion-label>0=RSA</ion-label>
                      <ion-radio value="0"></ion-radio>
                  </ion-col>
                
            
                <ion-col>
                    <ion-label>1=Passport</ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-col>
                
                <ion-col>
                    <ion-label>2=DOB/Other</ion-label>
                    <ion-radio  value="2"></ion-radio>
                </ion-col>
              </ion-row>
                
              </ion-radio-group>
            </ion-list>
          </ion-item>
  
          <ion-item lines="full">
            <ion-label position="floating">Identification Number</ion-label>
            <ion-input formControlName="idNumber" type="text" required></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl['id'].errors?.['required']">
            Name is required.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl['id'].errors?.['minlength']">
            Name should be min 2 chars long.
          </span>
  
          <ion-item lines="full">
            <ion-label position="floating">Date of Birth</ion-label>
            <ion-datetime (ionChange)="getDate($event)" formControlName="dateOfBirth" [value]="defaultDate"></ion-datetime>
          </ion-item>
  
          <ion-item lines="full">
            <ion-label position="floating">Cell Number</ion-label>
            <ion-input formControlName="cellNumber" type="text" required></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl['mobile'].errors?.['required']">
            Mobile number is required.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl['mobile'].errors?.['pattern']">
            Only numerical values allowed.
          </span>
  
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          
  
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
            </ion-col>
          </ion-row>
        </form>
        </ion-list>

        
     
        
  

  
  
  
  
  
