<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ConsultForm</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <ion-item lines="full">
        <ion-radio-group formControlName="title">
          <ion-list-header>
            <ion-label>Title</ion-label>
          </ion-list-header>

          <ion-grid>
            <ion-row radio-group>
              <ion-col>
                <ion-label>MR</ion-label>
                <ion-radio value="mr"></ion-radio>
              </ion-col>

              <ion-col>
                <ion-label>MRS</ion-label>
                <ion-radio value="mrs"></ion-radio>
              </ion-col>

              <ion-col>
                <ion-label>MS</ion-label>
                <ion-radio value="ms"></ion-radio>
              </ion-col>

              <ion-col>
                <ion-label>MISS</ion-label>
                <ion-radio value="miss"></ion-radio>
              </ion-col>

              <ion-col>
                <ion-label>MASTER</ion-label>
                <ion-radio value="master"></ion-radio>
              </ion-col>

              <ion-col>
                <ion-label>DR</ion-label>
                <ion-radio value="dr"></ion-radio>
              </ion-col>

              <ion-col>
                <ion-label>PROF</ion-label>
                <ion-radio value="prof"></ion-radio>
              </ion-col>

              <ion-col>
                <ion-label>REV</ion-label>
                <ion-radio value="rev"></ion-radio>
              </ion-col>

              <ion-col>
                <ion-label>DS</ion-label>
                <ion-radio value="ds"></ion-radio>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-radio-group>
        <span class="error-message" *ngIf="isSubmitted && errorControl['title'].errors?.['required']"> Title is required. </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Initials</ion-label>
        <ion-input formControlName="initials" type="text" required></ion-input>
        <span class="error-message" *ngIf="isSubmitted && errorControl['initials'].errors?.['required']"> Initial(s) is/are required. </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Fist Name(s)</ion-label>
        <ion-input formControlName="firstName" type="text" required></ion-input>
        <span class="error-message" *ngIf="isSubmitted && errorControl['firstName'].errors?.['required']"> Fist Name(s) is/are required. </span>
        <span class="error-message" *ngIf="isSubmitted && errorControl['firstName'].errors?.['minlength'] ">
          IdNumber should be min 2 chars long.
        </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Surname</ion-label>
        <ion-input formControlName="surname" type="text" required></ion-input>
        <span class="error-message" *ngIf="isSubmitted && errorControl['surname'].errors?.['required']"> Surname is required. </span>
        <span class="error-message" *ngIf="isSubmitted && errorControl['surname'].errors?.['minlength'] ">
          IdNumber should be min 2 chars long.
        </span>
      </ion-item>

      <ion-item>
        <ion-list>
          <ion-radio-group formControlName="idType">
            <ion-list-header>
              <ion-label>IdTypes</ion-label>
            </ion-list-header>

            <ion-grid>
              <ion-row radio-group>
                <ion-col>
                  <ion-label>RSA</ion-label>
                  <ion-radio value="0"></ion-radio>
                </ion-col>

                <ion-col>
                  <ion-label>Passport</ion-label>
                  <ion-radio value="1"></ion-radio>
                </ion-col>

                <ion-col>
                  <ion-label>DOB/Other</ion-label>
                  <ion-radio value="2"></ion-radio>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-radio-group>
        </ion-list>
        <span class="error-message" *ngIf="isSubmitted && errorControl['idType'].errors?.['required']"> idType is required. </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Identification Number</ion-label>
        <ion-input formControlName="idNumber" type="text" required></ion-input>
        <span class="error-message" *ngIf="isSubmitted && errorControl['idNumber'].errors?.['required']"> Identification Number is required. </span>
        <span class="error-message" *ngIf="isSubmitted && errorControl['idNumber'].errors?.['minlength']">
          IdNumber should be min 10 chars long.
        </span>
      </ion-item>

      <ion-item>
        <ion-label>Pick date</ion-label>
        <ion-input value="{{ defaultDate | date: 'dd.MM.yyyy' }}" id="date" class="ion-text-end"></ion-input>
        <ion-popover trigger="date" size="cover" arrow="false" id="popover-bottom">
          <ng-template>
            <ion-datetime presentation="date" [(ngModel)]="defaultDate" [ngModelOptions]="{ standalone: true }" locale="en-US"></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Cell Number</ion-label>
        <ion-input formControlName="cellNumber" type="text" required></ion-input>
        <span class="error-message" *ngIf="isSubmitted && errorControl['cellNumber'].errors?.['required']"> Cell Number is required. </span>
        <span class="error-message" *ngIf="isSubmitted && errorControl['cellNumber'].errors?.['minlength'] ">
          Cell Number should be min 10 chars long.
        </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button expand="round" type="submit" color="danger" expand="block">Submit</ion-button>
        </ion-col>
        <ion-col>
          <!-- <ion-button class="button button-block button-light" type="reset" color="danger" expand="block" clearInput>Reset Form</ion-button>-->
        </ion-col>
      </ion-row>

      <!--<script type="text/ng-template" id="modal.html">
        <div class="modal">
          <ion-header-bar>
            <h1 class="title">Hi, I'm modal</h1>
          </ion-header-bar>
          <ion-content>
          <button class="button" ng-click="closeWithoutRemove()">Close</button>
          <button class="button" ng-click="closeWithRemove()">Close and remove</button>
          </ion-content>
        </div>
      </script>-->
    </form>
  </ion-list>
</ion-content>
